
.calendar-container {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}



.thead-dark th {
    background-color: #343a40;
    color: white;
    border: none;
}


.calendar-day {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #212529;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

.calendar-day:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}


.calendar-day-empty {
    background-color: transparent;
    pointer-events: none;
}


.month-navigation {
    margin-bottom: 20px;
}


.month-navigation button {
    flex-shrink: 0;
}

.month-navigation h2 {
    margin: 0 20px;
}

.month-navigation {
    display: flex;
    justify-content: between;
    align-items: center;
    width: 100%;
}



@media (max-width: 600px) {
    .month-navigation .btn {
        padding: 5px 10px; /* Reduces padding to fit smaller screens */
        font-size: 14px; /* Reduces font size to ensure text fits */
    }

    .month-navigation h2 {
        font-size: 16px; /* Reduces the font size of the month name */
        margin: 0 10px; /* Adjusts margin to ensure it fits in the available space */
        flex-grow: 1; /* Allows the month name to grow and fill available space */
        text-align: center; /* Ensures the month name is centered */
    }



    .table {
        width: 98%;
        margin: 0 auto;
    }

    .calendar-day, .calendar-day-empty {
        padding: 5px; /* Adjusts padding for each day to ensure content fits */
        font-size: smaller; /* Adjusts font size for better fit on smaller screens */
    }
}
