.exercise-table-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: white;
}

.exercise-table-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.table thead tr th{
    background-color: #343a40;
    color: #ffffff;
    border-bottom: 2px solid #dee2e6;
}


.table thead th {
    background-color: #f8f9fa;
    color: #495057;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}


/*@media (max-width: 768px) {*/
/*    .exercise-table-container {*/
/*        width: 95%;*/
/*    }*/

/*    .table {*/
/*        display: block;*/
/*        overflow-x: auto;*/
/*    }*/
/*}*/
