.table {
    width: 95%;
    margin: 20px auto; /* Centruje tabelę i dodaje odstęp od góry i dołu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Dodaje subtelny cień */
    border-collapse: collapse; /* Usuwa domyślne odstępy między komórkami */
    border-radius: 10px; /* Zaokrąglone rogi tabeli */
    overflow: hidden; /* Zapobiega wyświetlaniu się zawartości poza zaokrąglonymi rogami */
}

.table th, .table td {
    text-align: left;
    padding: 12px; /* Dodaje odstępy wewnątrz komórek */
}

h2{
    color: #343a40;
}

.table thead {
    background-color: #f2f2f2; /* Jasnoszary kolor tła dla nagłówków */
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Biały kolor tła dla nieparzystych wierszy */
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Bardziej jasnoszary kolor tła dla parzystych wierszy */
}

.table tbody tr:hover {
    background-color: #ddd; /* Kolor tła podczas najechania myszką */
}

.btn {
    border: none;
    border-radius: 5px; /* Zaokrąglone krawędzie dla przycisków */
    padding: 10px;
    cursor: pointer; /* Kursor wskazujący, że przycisk jest klikalny */
}

.btn-success {
    background-color: #4CAF50; /* Zielony kolor tła */
    color: white; /* Biały tekst */
}

.btn-danger {
    background-color: #f44336; /* Czerwony kolor tła */
    color: white; /* Biały tekst */
}

.form-control {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px; /* Zaokrąglone krawędzie dla pól formularza */
}
