h2{
    color: #343a40;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.btn-success {
    background-color: #4CAF50;
    color: white;
}

.btn-danger {
    background-color: #f44336;
    color: white;
}

.form-control {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
