.home-container {
    animation: fadeInUp 2s ease-out;
    text-align: center;
    padding: 40px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #cccccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-container {
    animation: fadeInUp 2s ease-out;
    text-align: center;
    padding: 40px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #cccccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.table-container {
    animation: fadeInUp 1s ease-out;
    text-align: center;
    padding: 40px;
    max-width: 80%;
    margin: 20px auto;
    background-color: rgba(204, 204, 204); /* Updated for transparency */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /*table-layout: fixed; !* This ensures the table respects your column widths *!*/
}
.table td, .table th {
    white-space: normal; /* Overrides the previous nowrap */
    overflow-wrap: break-word; /* Allows long words to wrap and break */
    word-wrap: break-word; /* For older browsers */
    max-width: 100px; /* Adjust based on your needs; ensures content wrapping */
}

.table-responsive {
    overflow-x: auto;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5; /* Light grey, adjust color as needed */
}


/*.table td, .table th {*/
/*    white-space: nowrap;*/
/*    text-overflow: ellipsis;*/
/*    max-width: 150px; !* Adjust based on your needs *!*/
/*}*/


@media screen and (max-width: 768px) {
    .table-container {
        max-width: 100%; /* Updated to occupy 100% of the available space */
        padding: 2px; /* Optional: Adjust padding as needed for smaller screens */
    }
}


.custom-table-header {
    background-color: #343a40; /* Deep dark gray */
    color: white;
}

.table-striped tbody tr:hover {
    background-color: #bcbcbc; /* Slight dark on hover */
}

.rounded-table {
    border-radius: 0.75rem;
    overflow: hidden;
}

.shadow-table {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}



.table-link {
    color: black; /* Black links, as requested */
    text-decoration: none; /* Optional: removes underline from links */
    .table-link:hover {
        color: #555; /* Darker color on hover for links */
        /* Media query for devices with a max width of 768px, commonly used for tablets and mobile devices */
    }
}


.login-container {
    animation: fadeInUp 2s ease-out;
    text-align: center;
    padding: 20px;
    width: 90%; /* Use width instead of max-width for better control */
    max-width: 800px; /* Maximum width to maintain readability */
    background-color: #cccccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto; /* This helps in centering vertically if there's enough space */
    max-height: 90vh; /* Maximum height */
    overflow-y: auto; /* Enable scrolling if the content exceeds the viewport height */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .login-container {
        padding: 15px; /* Adjust padding for even smaller screens */
        width: 95%; /* Allow more width for very small devices */
    }
}

body {
    background-image: url('https://www.magic-gym.pl/images/oferta-zajecia-zorganizowane.jpg'); /* Path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    color: #495057;
    margin: 0.5em 0;
}

h4 {
    margin-top: 0;
    font-size: 0.9rem;
    color: #555;
    font-style: italic;
}

h2, h3 {
    color: #333;
    margin: 1em 0 0.5em;
}

p {
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0.5em 0 1em;
}

.cta-container {
    margin-top: 30px;
    transition: transform 0.3s ease;
}

.cta-container:hover {
    transform: translateY(-5px);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
