.info-container {
    animation: fadeInUp 2s ease-out;
    text-align: center;
    padding: 40px;
    max-width: 800px; /* Centers the content on wider screens */
    margin: 20px auto; /* Provides space above and below the container, adjust as needed */
    background-color: #cccccc; /* Light background color */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
    border-radius: 8px; /* Rounded corners for a modern look */
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: baseline; /* Adjust alignment to keep text aligned properly */
    flex-wrap: wrap;
    gap: 10px; /* Space between elements */
}

.cta-container img {
    margin-right: 10px; /* Space between logos */
    width: 50px; /* Adjust based on your preference */
    height: auto; /* Maintain aspect ratio */
}

/* Removes the margin from the last image (LinkedIn logo) */
.cta-container img:last-child {
    margin-right: 0;
}


h1, h2, h3, h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern, clean font */
    font-weight: 600; /* Slightly bolder for readability */
}

h1 {
    font-size: 2rem; /* Responsive font size */
    color: #495057; /* Bright color for emphasis */
    margin: 0.5em 0; /* Adjusted spacing */
}

h4 {
    margin-top: 0;
    font-size: 0.9rem; /* Adjusted for balance */
    color: #555; /* Subdued color for contrast */
    font-style: italic; /* Style for quotes */
}

h2, h3 {
    color: #333;
    margin: 1em 0 0.5em; /* Clear section separation */
}

p {
    color: #666;
    font-size: 1rem; /* Readability */
    line-height: 1.6; /* Better readability */
    margin: 0.5em 0 1em; /* Consistency */
}

.cta-container {
    margin-top: 30px;
    transition: transform 0.3s ease; /* Smooth hover effects */
}

.cta-container:hover {
    transform: translateY(-5px); /* Lift effect on hover */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Additional global styles should be carefully managed to not affect the navbar */
